In [6]:
### Load the data sets 
import pandas as pd

df = pd.read_csv("/Users/ahmed/repositories/enron_spam_data.csv", encoding='latin-1')
df.head()

,Message ID,Subject,Message,Spam/Ham,Date
0,0,christmas tree farm pictures,NaN,ham,1999-12-10
1,1,"vastar resources , inc .","gary , production from the high island larger ...",ham,1999-12-13
2,2,calpine daily gas nomination,- calpine daily gas nomination 1 . doc,ham,1999-12-14
3,3,re : issue,fyi - see note below - already done .\nstella\...,ham,1999-12-14
4,4,meter 7268 nov allocation,fyi .\n- - - - - - - - - - - - - - - - - - - -...,ham,1999-12-14

In [5]:
## check how many emails
df.shape

(33716, 5)

In [10]:
## Label distribution
df['Spam/Ham'].value_counts()

## Expect imbalance. This is normal in security.

Spam/Ham
spam    17171
ham     16545
Name: count, dtype: int64

In [ ]:
## Email length analysis
# Attackers often:

# Use short urgent messages

# Or long convincing social engineering
df['email_length'] = df['Message'].str.len()

df[df['Spam/Ham'] == 'spam'].head()

,Message ID,Subject,Message,Spam/Ham,Date,email_length
0,0,christmas tree farm pictures,NaN,ham,1999-12-10,NaN
1,1,"vastar resources , inc .","gary , production from the high island larger ...",ham,1999-12-13,4282.0
2,2,calpine daily gas nomination,- calpine daily gas nomination 1 . doc,ham,1999-12-14,38.0
3,3,re : issue,fyi - see note below - already done .\nstella\...,ham,1999-12-14,1171.0
4,4,meter 7268 nov allocation,fyi .\n- - - - - - - - - - - - - - - - - - - -...,ham,1999-12-14,1124.0

In [ ]:
## Plot:

# Email length vs label

# Ask yourself:

# Are phishing emails shorter?

# Or longer?

df[df['Spam/Ham'] == 'ham'].head()